/e/course/Papers/DeCOCO/featureextraction/comet/pretrained_models/atomic_pretrained_model.pickle
/e/course/Papers/DeCOCO/featureextraction/comet/data/atomic/processed/generation/categories_oEffect#oReact#oWant#xAttr#xEffect#xIntent#xNeed#xReact#xWant-maxe1_17-maxe2_35-maxr_1.pickle
 featureextraction/comet/data/atomic/processed/generation/categories_oEffect#oReact#oWant#xAttr#xEffect#xIn
http://featureextraction/comet/data/atomic/processed/generation/categories_oEffect#oReact#oWant#xAttr#xEffect#xIntent#xNeed#xReact#xWant-maxe1_17-maxe2_35-maxr_1.pickle
featureextraction/comet/pretrained_models/atomic_pretrained_model.pickle
http://featureextraction/comet/data/atomic/processed/generation/categories_oEffect#oReact#oWant#xAttr#xEffect#xIntent#xNeed#xReact#xWant-maxe1_17-maxe2_35-maxr_1.pickle
http://featureextraction/comet/data/atomic/processed/generation/categories_oEffect#oReact#oWant#xAttr#xEffect#xIntent#xNeed#xReact#xWant-maxe1_17-maxe2_35-maxr_1.pickle
featureextraction/comet/pretrained_models/atomic_pretrained_model.pickle
featureextraction/comet/data/atomic/processed/generation/categories_oEffect#oReact#oWant#xAttr#xEffect#xIntent#xNeed#xReact#xWant-maxe1_17-maxe2_35-maxr_1.pickle
